# Dependências
node_modules/

# Variáveis de ambiente
.env

# Uploads
uploads/

# Logs
*.log
npm-debug.log*

# Arquivos do sistema
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.sublime-*

# Temporários
*.tmp
*.temp

# Build
dist/
build/
